<h1>B.R.E.A.D.S.</h1>
<p>
    BREADS is an acronym that helps to prioritize what cards you should be selecting throughout the <a href={{getLinkToCube()}}>cube</a> 
    (try to pick cards that are higher on the list). 
</p>  
<p>
    BREADS stands for:
</p>  

    <ul type="*">
        <li>
            <b>Bombs</b> - Big cards that will win you the game
        </li>
        <li>
            <b>Bombs</b> - Cards that stop your opponents’ bombs
        </li>
        <li>
            <b>Evasion</b> - Creatures cards that are hard to deal with
        </li>
        <li>
            <b>Aggro</b> - Creatures cards that represent an early threat
        </li>
        <li>
            <b>Dirt</b> - Cards to fill out your mana curve and support your deck
        </li>
        <li>
            <b>(Synergy)</b> - Cards that are better than bombs with support
        </li>
    </ul>
    <p>

    </p>

    <h2><u>Bombs - Big cards that will win you the game</u></h2>
    <p>
        As the title says, Boms will win you the game by themselves
        They are typically big creatures, or can generate value over time
        Most cards in the <a href={{getLinkToCube()}}>cube</a> that cost 4+ mana are bombs, but there are cheap bombs too
        Only need 3-4 in a deck, too many becomes hard to play
    </p>
    
    <p>
        <a matTooltip="menace" >menace</a>
    </p>
    <button mat-raised-button
    matTooltip="Info about the action"
    matTooltipClass="example-tooltip-uppercase"
    aria-label="Button that shows a red tooltip"
    class="example-button">
    Uppercase-tooltip Action
    </button>

