<div >
    <h1>Curve Fitting</h1>
    <p>
        The basic idea of curve fitting is that <b>it doesn't matter what you play</b>, as long as you can <b>keep consistently playing things every turn</b>.
    </p>
    <p>
        There are two main things to think about to ensure that this happens:
    </p>
    <ol type="1">
        <li>
            Pick 1-2 colors and stick to them - the more colors you have, the harder it is to be consistent
        </li>
        <li>
            Fill out a decent mana-curve - you need to pick cards of varying mana values to do this
        </li>
    </ol>
    <p>
    <h2><u>Pick 1-2 Colors</u></h2>
    <P>
        First off, don't worry about this in the first pack: <b>be as flexible as possible early on</b> and just pick cards that look good regardless of the color.
        <br><br> However <b>by halfway through the draft</b> you should pick a primary and/or secondary color and stick to it. 
        <a href={{getLinkToCube()}}>My cube</a> purposely does not contain any 3, 4, or 5 color cards to help make it easier to stick to fewer colors. 
        <br><br>You can definitely still change your mind or splash an additional color, but you run the risk of not getting enough cards to make that strategy work.
        The fewer colors you have, the more consistent your deck will be because you will be able to play all your cards without getting mana-screwed.
    </P>
    
    <br>
    <h2><u>The 40-Card Manacurve</u></h2>
    <p>
        A manacurve is just the distribution of the mana value of the cards in your deck.
        Generally speaking, manacurves look like a Normal distribution curves centered around 2-3 mana a bit.
    </p>
    <p>
        The distribution for a typical 40-card deck is shown below. 1-mana removal is always good
    </p>
    <p>
        Additionally, a 40-deck should roughly follow the following guidelines:
    </p>
    <ul>
        <li>
            16-18 lands
        </li>
        <li>
            22-24 non-lands
        </li>
        <li>
            Twice as many creatures as non-creatures, so 15ish creatures & 8ish non-creatures (Note that the ratio is exactly opposite for spellslinger decks)
        </li>
    </ul>   
    <div style="width: 100%; height: 400px;">
        <div style="width: 60%; height: 100%; float: left; "> 
            <app-bar-chart 
            [data] = deckManacurveData
            [columnNames]=deckManacurveColumnNames
            [options]=deckManacurveOptions
            >
        </app-bar-chart>
        </div>
        <div *ngIf="cubeDataLoaded" style="margin-left: 59%; height: 100%;"> 
            <app-pie-chart 
            [data] = pieChartData
            [columnNames]=pieChartColumns
            [options]=pieChartSettings
            >
        </app-pie-chart>
        </div>
        
        
    </div>
    <br>
    <p>
        <a href={{getLinkToCube()}}>The cube's</a> manacurve is also shown below. 
        There's obviously a lot more 2 mana value multicolor cards and that's because there's no 1 mana value multicolor cards in <a href={{getLinkToCube()}}>the cube</a>.
    </p>
    <p>
        Splitting the multicolor cards into each of their respective columns, we get something that's about what you would expect for the mana curve.
    </p>
    <div *ngIf="cubeDataLoaded">
        <app-bar-chart 
            [data] = cubeData
            [columnNames]=cubeColumnNames
            [options]=cubeManacurveOptions
            >
        </app-bar-chart>
    </div>
    
    <div *ngIf="cubeDataLoaded">
        <app-bar-chart 
            [data] = cubeData
            [columnNames]=cubeColumnNames
            [options]=cubeManacurveOptions
            >
        </app-bar-chart>
    </div>
    <p>
        Every deck will be different though, so it’s okay to use different numbers as long as you have a plan.
    </p>

    
    
    
</div>
